{% extends 'base.html'%}
{% load static %}
{% block head%}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/detail.js'%}"></script>

<style>

</style>
{% endblock head %}
{% block content %}
<div class="judul">
    <p>CovidNews</p>
</div>
<div class="Namaberita">
    <p>{{news.Judul}} <img  src="{{news.Foto}}"></p>
</div>
<div class="isiBerita">
    <p>{{news.isi|safe}}</p>
    <p>Sumber:{{news.Sumber}}</p>
</div>
<div class="komentar">
    <p>KOMENTAR</p>
</div>
<br>
<form id="formKomentar" method="POST">
    {% csrf_token %}
    <div>
     <input id ="nama" type="text" name="nama" placeholder="Nama Anda" />
    </div>
    <div>
     <textarea id="komentar" name="komentar" rows="10" placeholder="Berikan Komentar Anda"></textarea>
    </div>
    <div>
      <input type="submit" value="Tambahkan Komentar" formmethod="POST"/>
    </div>
</form>
<div class="listkomen"></div>
{% endblock content%}